<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css" />
  <link rel="stylesheet" href="static/mobile-style.css">

</head>
<body>

    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
         <i class="fab fa-wolf-pack-battalion"></i>Watches</a>
      </nav>
    </div>
    {% if x1 %}
  <div class="cards">
  <div style="width:100%" class="container-fluid shadow-sm p-3 mb-5 bg-white rounded">
      <div class="row">
          <div class="col-md-2">
          <img src="../static/watch example.png" style="width:100%;"/>
          </div>
            <div class="col-md-6">
      <div class="title">
              <h2 class="card-title text-align:center">Watch1</h2>
        </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
            </div>
          <div class="col-md-1">
      <div class="card-price px-1">
        <h4>$599</h4>
      </div>
          </div>
  <form action="/cart" method="POST" class="card-buy">
    <div class="card-buy">
        <button class="btn btn-primary" type="submit" name="watch1" value="watch1">
        Clear from cart
        </button>
    </div>
  </form>
      </div>
          </div>
  </div>
  </div>
  </div>
    {%endif%}
    {% if x2 %}
      <div class="cards">
  <div style="width:100%" class="container-fluid shadow-sm p-3 mb-5 bg-white rounded">
      <div class="row">
          <div class="col-md-2">
          <img src="../static/watch example.png" style="width:100%;"/>
          </div>
            <div class="col-md-6">
      <div class="title">
              <h2 class="card-title text-align:center">Watch2</h2>
        </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
            </div>
          <div class="col-md-1">
      <div class="card-price px-1">
        <h4>$599</h4>
      </div>
            </div>
  <form action="/cart" method="POST" class="card-buy">
    <div class="card-buy">
        <button class="btn btn-primary" type="submit" name="watch2" value="watch2">
        Clear from cart
        </button>
    </div>
  </form>
  </div>
  </div>
  </div>
  </div>
    {%endif%}
    {% if x3 %}
                <div class="cards">
  <div style="width:100%" class="container-fluid shadow-sm p-3 mb-5 bg-white rounded">
      <div class="row">
          <div class="col-md-2">
          <img src="../static/watch example.png" style="width:100%;"/>
          </div>
            <div class="col-md-6">
      <div class="title">
              <h2 class="card-title text-align:center">Watch3</h2>
        </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
            </div>
          <div class="col-md-1">
      <div class="card-price px-1">
        <h4>$599</h4>
      </div>
          </div>
      <form action="/cart" method="POST" class="card-buy">
      <div class="card-buy">
        <button class="btn btn-primary" type="submit" name="watch3" value="watch3">
        Clear from cart
        </button>
      </div>
      </form>
  </div>
  </div>
  </div>
  </div>
    {%endif%}
    {% if x4 %}
                <div class="cards">
  <div style="width:100%" class="container-fluid shadow-sm p-3 mb-5 bg-white rounded">
      <div class="row">
          <div class="col-md-2">
          <img src="../static/watch example.png" style="width:100%;"/>
          </div>
            <div class="col-md-6">
      <div class="title">
              <h2 class="card-title text-align:center">Watch 4</h2>
        </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
            </div>
          <div class="col-md-1">
      <div class="card-price px-1">
        <h4>$599</h4>
      </div>
          </div>
      <form action="/cart" method="POST" class="card-buy">
      <div class="card-buy">
        <button class="btn btn-primary" type="submit" name="watch4" value="watch4">
        Clear from cart
        </button>
      </div>
      </form>
  </div>
  </div>
  </div>
  </div>
    {%endif%}
</section>


</body>
</html>