<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css" />
  <link rel="stylesheet" href="static/mobile-style.css">

<style>
    src="script.js"
    </style>
</head>
<body>

    <div class="container-fluid p-10">
        <div class="nav-padding">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/index">
         <i class="fab fa-wolf-pack-battalion"></i>Watches</a>
      </nav>
    </div>
    </div>
<div class="row">
    <div class="col-md-9">



<div class="cart-page">
 {% if x1 %}
<div class="cards-cart">
          <hr>
  <div class="container-fluid bg-white">
      <div class="row">
          <div class="col-md-2">
          <img src="../static/watch example.png" class="imgg"/>
          </div>
            <div class="col-md-5">
      <div class="title">
              <h2 class="card-title text-align:center">Watch 1</h2>
        </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
            </div>
          <div class="col-md-1 top-bot">
              <form method="POST" action="/cart">
          <input class="form-control" type="number" name="q1" min="1" placeholder="{{quantity1}}">
              </form>
          </div>
          <div class="col-md-1 top-bot">
      <div class="card-price px-1">
        <h4>${{quantity1*599}}</h4>
      </div>
            </div>
      <div class="col-md-3">
  <form action="/cart" method="POST" class="card-buy" style="padding-top:35px;">
        <button class="btn btn-primary" type="submit" name="watch1" value="watch1">
        Clear from cart
        </button>
  </form>
  </div>
  </div>
  </div>
  </div>
    {%endif%}
    {% if x2 %}
      <div class="cards-cart">
          <hr>
  <div class="container-fluid bg-white">
      <div class="row">
          <div class="col-md-2">
          <img src="../static/watch example.png" class="imgg"/>
          </div>
            <div class="col-md-5">
      <div class="title">
              <h2 class="card-title text-align:center">Watch 2</h2>
        </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
            </div>
          <div class="col-md-1 top-bot">
              <form method="POST" action="/cart">
          <input class="form-control" type="number" name="q2" min="1" placeholder="{{quantity2}}">
              </form>
          </div>
          <div class="col-md-1 top-bot">
      <div class="card-price px-1">
        <h4>${{quantity2*599}}</h4>
      </div>
            </div>
      <div class="col-md-3">
  <form action="/cart" method="POST" class="card-buy" style="padding-top:35px;">
        <button class="btn btn-primary" type="submit" name="watch2" value="watch2">
        Clear from cart
        </button>
  </form>
  </div>
  </div>
  </div>
  </div>
    {%endif%}
    {% if x3 %}
    <div class="cards-cart">
        <hr>
  <div style="width:100%" class="container-fluid bg-white">
      <div class="row">
          <div class="col-md-2">
          <img src="../static/watch example.png" class="imgg"/>
          </div>
            <div class="col-md-5">
      <div class="title">
              <h2 class="card-title text-align:center">Watch 3</h2>
        </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
            </div>
          <div class="col-md-1 top-bot">
              <form method="POST" action="/cart">
          <input class="form-control" type="number" name="q3" value="q3" min="1" placeholder="{{quantity3}}">
              </form>
          </div>
          <div class="col-md-1 top-bot">
      <div class="card-price px-1">
        <h4>${{quantity3*599}}</h4>
      </div>
          </div>
          <div class="col-md-3">
      <form action="/cart" method="POST" class="card-buy" style="padding-top:35px;">
        <button class="btn btn-primary" type="submit" name="watch3" value="watch3">
        Clear from cart
        </button>
      </form>
  </div>
  </div>
  </div>
</div>
    {%endif%}
    {% if x4 %}
    <div class="cards-cart">
        <hr>
  <div style="width:100%" class="container-fluid bg-white">
      <div class="row">
          <div class="col-md-2">
          <img src="../static/watch example.png" class="imgg"/>
          </div>
            <div class="col-md-5">
      <div class="title">
              <h2 class="card-title text-align:center">Watch 4</h2>
        </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
            </div>
          <div class="col-md-1 top-bot">
              <form method="POST" action="/cart">
          <input class="form-control" type="number" name="q4" min="1" placeholder="{{quantity4}}">
              </form>
          </div>
          <div class="col-md-1 top-bot">
      <div class="card-price px-1">
        <h4>${{quantity4*599}}</h4>
      </div>
            </div>
      <div class="col-md-3">
      <form action="/cart" method="POST" class="card-buy" style="padding-top:35px;">
        <button class="btn btn-primary" type="submit" name="watch4" value="watch4">
            Clear from cart
        </button>
      </form>
      </div>
  </div>
  </div>
  </div>
    <hr>
</div>
    {%endif%}
        {%if x1 or x2 or x3 or x4%}
        {{quantity1*599 + quantity2*599 + quantity3*599 + quantity4*599}}

</div>
    <div class="col-md-3">
        <a class="btn btn-outline-primary" href="/checkout">Check Out</a>
</div>
    </div>
{%endif%}
</body>
</html>

<!-- API Key for postage calculator 28744ed5982391881611cca6cf5c240 -->