<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Watches</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css" />
  <link rel="stylesheet" href="static/mobile-style.css">
</head>

<body>
  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
         <i class="fab fa-wolf-pack-battalion"></i>Watches</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-right text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PRICE</a>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="#" class="nav-link">PAGES</a>
                <div class="dropdown-content">
                  <a href="#">Generic</a>
                  <a href="#">Element</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LOGIN</a>
            </li>
          </ul>
            <div class="set-right">
              <a class="fas fa-shopping-cart nav-link fa-lg" href="/cart"></a>
            </div>

        </div>
      </nav>
    </div>

    <!-- Large watch front page -->
    <div style=""class="container text-center">
      <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
          <h6>LOREM WATCHES</h6>
          <span style="font-size:3em">50% OFF</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus eum dignissimos ipsa sequi expedita.
          </p>
          <form action="/" method="POST">
          <button class="btn btn-light px-5 py-2 primary-btn" type="submit" name="watch1" value="watch1">
          Buy now for $599
          </button>
          </form>
        </div>
        <div class="col-md-5 col-sm-12">
          <img class="primary-img" src="../static/watch example.png" />
        </div>
      </div>
    </div>
    <!-- Large watch small card-->
  </header>
  <!-- products page -->

  <div class="product-page">
<section>
  <div class="d-flex flex-row justify-content-center flex-wrap product">
        <!-- Middle row left card -->
  <div class="cards">
  <div style="width:22rem" class="card shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="title">
                  <h2 class="card-title text-align:center">Lorem ipsum.</h2>
                </div>
      <div class="card-image">
          <img src="../static/watch example.png" style="width:100%;"/>
      </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
      <div class="card-price px-1">
        <h4>$599</h4>
      </div>
          <form action="/" method="POST" class="card-buy">
            <div class="card-buy">
        <button class="btn btn-primary" type="submit" name="watch2" value="watch2">
        Add to Cart...
        </button>
            </div>
          </form>

    </div>
  </div>
  </div>
    <!-- Middle row middle card -->
    <div class="cards">
  <div style="width:22rem" class="card shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="title">
                  <h2 class="card-title text-align:center">Lorem ipsum.</h2>
                </div>
      <div class="card-image">
          <img src="../static/watch example.png" style="width:100%;"/>
      </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
      <div class="card-price px-1">
        <h4>$599</h4>
      </div>
          <form action="/" method="POST" class="card-buy">
            <div class="card-buy">
        <button class="btn btn-primary" type="submit" name="watch3" value="watch3">
        Add to Cart...
        </button>
            </div>
          </form>
    </div>
  </div>
  </div>
          <!-- Middle row right card -->
    <div class="cards">
  <div style="width:22rem" class="card shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <div class="title">
                  <h2 class="card-title text-align:center">Lorem ipsum.</h2>
      </div>
      <div class="card-image" >
          <img src="../static/watch example.png" style="width:100%;"/>
      </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
      <div class="card-price px-1">
        <h4>$599</h4>
      </div>
      <form action="/" method="POST" class="card-buy">
      <div class="card-buy">
        <button class="btn btn-primary" type="submit" name="watch4" value="watch4">
        Add to Cart
        </button>
      </div>
      </form>
    </div>
  </div>
  </div>
</div>
</section>
  </div>

<!-- customer feedback -->
<section>
  <div class="customer">
  <div class="col-md-7 col-sm-12">
<div class="card card shadow-sm p-3 mb-5 bg-white rounded">
<div class="card-body">
      <div class="title">
                  <h2 class="card-title text-align:center">What Our Customers Say About Us</h2>
                </div>
      <div class="card-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, tenetur.</p>
      </div>
</div>
  </div>
  </div>
  </div>
</section>
</body>