<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Login</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css" />
  <link rel="stylesheet" href="static/mobile-style.css">
</head>
<script>
function textType(input) {
    var regex = /[^a-z 0-9 ! @ # $ ^ & * ( ) .]/gi;
    input.value = input.value.replace(regex, "");
}

</script>
<body>

{% import "bootstrap/wtf.html" as wtf %}
    <div class="container-fluid p-10">
        <div class="nav-padding">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
         <i class="fab fa-wolf-pack-battalion"></i>Watches</a>
      </nav>
    </div>
    </div>
{%if fail%}
 Unsucessful Login. Try again
{%endif%}
<form method="post" action="/login">
{{form.hidden_tag() }}
{{wtf.form_field(form.username, onkeyup="textType(this)") }}
{{wtf.form_field(form.password, onkeyup="textType(this)") }}
{{wtf.form_field(form.remember) }}

<button class="btn btn light" type="submit">Log In</button>
<a href="/sign">Sign up</a>
</form>
</body>
</html>